/*********************************************
** カラー
*********************************************/
// メインカラー
$main-color: #24A8BF;
// テキストカラー
$text-color: #333333;

/*********************************************
** フォント
*********************************************/
// フォントファミリー
$font-family: Arial, "Hiragino Kaku Gothic ProN", sans-serif;

/*********************************************
** スペース
*********************************************/
// sp-sontainer
$sp-container-padding-x: 20px;

// pc-container
$container-max-width: 1110px;